.back-button {
  position: absolute; /* Page 내부에서 고정 */
  top: 5%; /* 상단에서 15px */
  left: 5%; /* 왼쪽에서 15px */
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10; /* 로그인 폼 위에 배치 */
}


.back-button img {
  width: 24px;  /* 아이콘 크기 */
  height: auto;
  border: none;
  outline: none;
}

.back-button:hover {
  opacity: 0.7; /* 호버 효과 */
}
