:root {
    --primary-color: #ff7a59;
    --text-color: #333;
    --font-family: "Arial", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 375px;
    /* background: white; */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: var(--text-color);
}

input {
    padding: 10px;
    font-size: 0.9rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(255, 122, 89, 0.5);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e56745;
}

.info {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 15px;
}

.validation-button {
    font-size: 0.8rem;
    color: var(--primary-color);
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
