  /* ====== 로딩화면 레이드 애니메이션 추가 ======== */
  /* styles/loading.css */
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  

  
  /* ====== 로딩 화면 스타일 ====== */
  .LodingScreen-loading {
    width: 90%;
    max-width: 375px;
    height: 100vh;
    border-radius: 10px;
    padding: 5%;
  }
  
  .LodingScreen-header h1 {
    font-size: 2rem;
    margin: 20% 5% 30% 5%;
    text-align: left;
    color: white;  /* 흰색으로 변경 */
  }
  
  .LodingScreen-loading .LodingScreen-imageLogo img {
    max-width: 80vw;
    height: auto;
    margin-top: 10vh;
  }
  