/* 메뉴 페이지 스타일 */
.menuPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden; /* 스크롤 방지 */
}
/* 2x2 고정 배열을 위한 카드 섹션 */
.menu-card-section {
    max-width: 600px;
    display: grid;
}

/* 개별 카드 디자인 */
.menu-card-grid {
    background-color: #fff;
    border-radius: 10%;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    padding: 3%;
    text-align: center;
}

.menu-card-grid:hover {
    transform: scale(1.05);
}

/* 카드 이미지 스타일 */
.menu-card-grid img {
    display: flex;
    align-items: left;
    width: 40%; /* 고정 크기 */
    height: auto;
    margin: 5%;
}

/* 카드 제목 스타일 */
.menu-card-grid h3 {
    white-space: pre-line; /* \n을 줄바꿈으로 인식 */
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 10% 12%;
}

/* 카드 설명 스타일 */
.menu-card-grid p {
    margin: 5% 12%;
    text-align: left;
    font-size: 0.8rem;
    color: #666;
    line-height: 1.4;
    white-space: pre-line;
    
}

/* 하단 이미지 */
.menu-image-section {
    display: flex;
    padding : 0px;
    justify-content: flex-end; /* 오른쪽 정렬 */

}

.menu-image-section img {
    float: right;  /* 오른쪽으로 배치 */
    max-width: 80%;
    height: auto;
}

@media (max-width: 600px) {
    .menu-card-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .menu-image img {
        max-width: 80%;
    }
}