
/* Moneygraphy-Rounded 폰트 */
@font-face {
  font-family: "Moneygraphy-Rounded";
  font-weight: normal;
  src: url("./assets/font/Moneygraphy-Rounded.ttf");
  font-weight: normal;
  font-style: normal;
      
}


/* 전역 폰트 적용 */
body {
  /* font-family: "Moneygraphy-Rounded", sans-serif !important; */
  font-family: sans-serif !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
